<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tempFolder" value="f:\TempReader\"/>
    <add key="userName" value="oligorecord"/>
    <add key="password" value="oligorecord\#123456"/>
    <add key="remoteFolder" value="\\10.59.37.78\Share for Nirvana\Rex\中文目录"/>
  </appSettings>
</configuration>
